<HTML>
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>Image2Vector</title>    

        <style>
            .img{
                height: 250px;
            }

            figure{
                display: inline-block;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class = "container">
            <div class="jumbotron mt-3">
                
                <h1>Image2Vector</h1>
                <A>Git Hub repository : </A> <A href="https://github.com/minsulee2/image2vector"> Image2Vector</A>
                <br>
                <!-- Need to be updated! -->
                <!-- <A>Testing API : </A> <A href="https://ainize.ai/woomurf/ainize-color-transfer"> on Ainize </A> -->

                <hr class="solid">
                
                <div id="sampleBox">
                    <h2>Example</h2>
                    <figure>
                        <img class="img" src="./images/2.png" alt="sample_number">
                        <figcaption>Sample hand written number image</figcaption>
                    </figure>
                    

                </div>
                <br>
                <h2>Upload </h2>
                <div id = 'inputImage'>
                    <label for="source">Source number image : </label>
                    <input type = 'file' id = 'source' style="margin-right: 10px; margin-bottom: 10px;">
                    <button id = "submit" type='submit' class="btn btn-primary btn-lg" style="margin-left: auto;"> Run </button>
                </div>
                
                <div id ='resultBox' style="margin-left: auto; margin-right: auto;">
                    <p id='errorbox'></p>
                    <p id='resultImage'></p>
                    <!-- <img id='resultImage' src="" alt=""> -->
                </div>
                <script>
                    document.getElementById("submit").onclick = () => {
                        var formData = new FormData();
                        var source = document.getElementById('source').files[0];

                        formData.append('source', source);

                        fetch(
                            '/image',
                            {
                                method: 'POST',
                                body: formData
                            }
                        )
                        .then(response => {
                            if (response.status == 200) {
                                return response.text();
                            }
                            else {
                                throw Error("Loading image error");
                            }
                        }).then(text => {
                            document.getElementById('resultImage').innerText = text;
                        }).catch(e =>{
                            document.getElementById("errorbox").innerHTML = e;
                        });
                    };
                </script>
            </div>
        </div>
    </body>
</HTML>